
body {
    margin: 20px;
    text-align: center;
    font-size: large;
    
}
.card {
    background: skyblue;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 3px solid brown;
}

.avatar {
    width: 150px;
}

.border-blue {
    border: 1px dotted black;
}